/* variables */
:root {
  --large-font: "Kaisei Tokumin", serif;
  --small-font: "Poppins", sans-serif;
  --pink: #e5345b;
  --white: #fff;
}

body{
    background-color: none;
}

.table tbody {
    vertical-align: middle !important;
}

.bg-primary {
  background: var(--pink) !important;
}

.text-primary{
  color: var(--pink) !important;
}

/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background: var(--pink);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Button */
.btn:not(.nav-btns button){
    background: var(--white);
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
    background: var(--pink);
    color: var(--white);
    border: var(--pink);
}

/* Product image */
.product-img img{
    transition: all .3s ease;
}

.product-img img:hover{
    transform: scale(1.2);
}

.product-img span{
    top:20px;
    right: 20px;
}

/* Modal product image sizing */
.modal-image-container {
    width: 200px;
    height: 300px;
    margin: 0 auto;
}

/* Modal product title line height */
.card-title {
    line-height: 54px;
}

/* Modal product description truncate text */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

footer i:hover{
  color: var(--pink);
}

/* Form */

#form-section .form-group {
    margin-bottom: 1.5rem; 
}

#form-section .form-group label {
    display: block;
    margin-bottom: 0.5rem; 
}

#clear-cart {
    margin-right: 10px;
}

.response-message {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--pink); 
    display: none; 
    opacity: 0; 
    transition: opacity 1s ease-out; 
}

.quantity-container {
    margin-right: 20px;
    margin-top: 5px;
}

/* MEDIA QUERIES */

/* Medium screens (tablets, small laptops) */
@media (max-width: 992px) {
    .modal-image-container {
        width: 150px;
        height: 225px;
    }

    .card-title {
        line-height: 44px;
    }
}

/* Small screens (large smartphones, tablets in portrait mode) */
@media (max-width: 768px) {
    .modal-image-container {
        width: 120px;
        height: 180px;
    }

    .card-title {
        line-height: 44px;
    }

    .card-text {
        -webkit-line-clamp: 2;
    }
}

/* Extra small screens (smartphones) */
@media (max-width: 576px) {
    .modal-image-container {
        width: 120px;
        height: 180px;
    }

    .card-title {
        line-height: 24px;
    }
}

/* Very small screens (small smartphones) */
@media (max-width: 400px) {
    .modal-image-container {
        width: 120px;
        height: 180px;
    }

    .card-title {
        line-height: 24px;
    }
}